apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ flask_app_app_name }}
  labels:
    app: {{ flask_app_app_name }}
spec:
  replicas: {{ flask_app_replicas }}
  selector:
    matchLabels:
      app: {{ flask_app_app_name }}
  template:
    metadata:
      labels:
        app: {{ flask_app_app_name }}
    spec:
      containers:
      - name: {{ flask_app_app_name }}
        image: "{{ flask_app_image_repository }}:{{ flask_app_image_tag }}"
        ports:
        - containerPort: {{ flask_app_container_port }}
