apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.flask_app.app_name }}
  namespace: {{ .Values.global.namespace }}
  labels:
    app: {{ .Values.flask_app.app_name }}
spec:
  replicas: {{ .Values.flask_app.replicas }}
  selector:
    matchLabels:
      app: {{ .Values.flask_app.app_name }}
  template:
    metadata:
      labels:
        app: {{ .Values.flask_app.app_name }}
    spec:
      containers:
      - name: {{ .Values.flask_app.app_name }}
        image: 'flask-app:latest'
        ports:
        - containerPort: {{ .Values.flask_app.container_port }}
