apiVersion: build.openshift.io/v1
kind: BuildConfig
metadata:
  name: {{ .Chart.Name }}
  namespace: {{ .Values.global.namespace }}
spec:
  source:
    type: Git
    git:
      uri: "{{ .Values.flask_app.repository }}"
      ref: "{{ .Values.flask_app.gitRef }}"
    contextDir: "{{ .Values.flask_app.contextDir }}"
  strategy:
    type: Docker
    dockerStrategy:
      dockerfilePath: "{{ .Values.flask_app.dockerfilePath }}"
  output:
    to:
      kind: ImageStreamTag
      name: '{{ .Chart.Name }}:latest'
  triggers:
  - type: ConfigChange
  - type: ImageChange
